.container {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.main {
  max-width: 900px;
  margin: auto;
}

.section {
  margin-bottom: 40px;
}

h2 {
  color: #333;
  text-align: center;
}

hr {
  width: 50%;
  margin: 10px auto;
}

.slideshow-container {
  position: relative;
  text-align: center;
  margin: 20px 0;
}

.slide {
  animation: fade 0.5s ease-in-out;
  padding: 20px;
  margin: 20px;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

img {
  max-width: 90%;
  height: 170px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
}

.controls {
  margin-top: 10px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}

ul li a {
  text-decoration: none;
  color: #007bff;
}

ul li a:hover {
  text-decoration: underline;
}
/* Research.css */
.image-content-container {
  background-color: lightblue; /* Set the background color */
  padding: 20px;              /* Add space inside the container */
  border-radius: 20px;        /* Optional: Add rounded corners */
  display: inline-block;      /* Shrink-wrap to the content */
  text-align: center;         /* Center the text */
  max-width: 400px;           /* Optional: Set a max width */
  margin: 20px auto;             /* Center align the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow effect */
}

.slide-image {
  width: 100%;                /* Make the image responsive */
  height: auto;               /* Maintain aspect ratio */
  border-radius: 5px;         /* Optional: Add rounded corners to the image */
}
