
.practice-session {
  font-family: Arial, sans-serif;
 margin:0;
padding: 0;
}

.header {
  display: flex;
  
  
}

.back-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

h2 {
  font-size: 29px;
  margin:50px;
}

.topics-section h3,
.preparation-section h3 {
  margin-left: 50px;
  margin-top: 20px;
  font-size: 25px;
}

.topics-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-top: 10px;
  margin-left:50px;
}

.topic-button {
  background: #f4f4f4;
  height:3.5vw;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 23px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.topic-button:hover {
  background: #e0e0e0;
}


.preparation-grid {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  margin-left:50px;
}

.preparation-card {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  width: 250px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.preparation-card h4 {
  margin: 0;
  font-size: 25px;
}

.preparation-card p {
  margin: 10px 0;
  font-size: 23px;
  color: #555;
}

.continue-button {
  background: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.continue-button:hover {
  background: #0056b3;
}
